{% extends "layout.html" %}

{% block scripts %}
<script>
    let customers = {{ customers_data | tojson }};
</script>
<script type="module" src="{{ url_for('static', filename='js/table_customers.js') }}" defer></script>
{% endblock %}

{% block title %}
    Customers
{% endblock %}

{% block main %}
<div class="mt-5 mx-auto customers-tab">
    <div class="border border-2 rounded-5 p-4">
        <div class="d-flex flex-row-reverse mb-2">
        <button class="btn btn-success btn-sm" id="download-csv">Download Data</a>
        </div>

        <div id="customers-table"></div>
    </div>

</div>
{% endblock %}